<!-- Navigation Bar-->
<nav class="page__menu page__custom-settings menu">
  <ul class="menu__list r-list">
    <li class="menu__group"><a routerLink="" class="menu__link r-link text-underlined">Home</a></li>
    <li class="menu__group"><a routerLink="store" class="menu__link r-link text-underlined">Store</a></li>
    <li class="menu__group"><a routerLink="pay" class="menu__link r-link text-underlined">Pay </a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>Author: Shane Hahesy</p>
  <p><a href="mailto:hahesyshane@gmail.com">ShaneH Designs</a></p>
</footer>


